@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --dark-200: #23262f;
  --white-700: #f7f8fa;
  --white-200: #f2f2f2;
  --gray-200: #b1b5c3;
  --gray-300: #E6E8EC;
  --gray-700: #757171;
}

@theme inline {
  --color-dark-200: var(--dark-200);
  --color-white-700: var(--white-700);
  --color-white-200: var(--white-200);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-urbanist: var(--font-urbanist);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: "Poppins", sans-serif;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100dvh !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
.ant-spin .ant-spin-dot-item {
  background: #23262f !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
}
.swiper-pagination-bullet {
  background: #23262f80;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  display: inline-block;
  border: 0.5px solid #141718;
  height: 16px;
  width: 16px;
  padding: 2px;
  position: relative;
  background: white;
}

.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  background-color: #141718;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.shadow-btn {
  box-shadow: 0px 36.25px 29px #0f0f0f1f;
}

.custom-prev-new.swiper-button-disabled {
  opacity: 0;
}
